<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8toPtvlSpFA1l-w6Fb00GJry6tca31QM</string>
	<key>GCM_SENDER_ID</key>
	<string>64503771835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentalsehat</string>
	<key>PROJECT_ID</key>
	<string>mentalsehat-3f3ec</string>
	<key>STORAGE_BUCKET</key>
	<string>mentalsehat-3f3ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64503771835:ios:b2e0874cd8496b31be6f9e</string>
</dict>
</plist>